[Unit]
Description=Daemon for controlling a 16" Meade LX200-GPS mount via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/meade_mountd /etc/mountd/%i.json

[Install]
WantedBy=multi-user.target
